@model List<OrderDetail>
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th>
                    <a asp-controller="Admin" asp-action="ShowGoods">
                        <button class="btn btn-success">Товари</button>
                    </a>
                </th>
                <th>
                    <a asp-controller="Admin" asp-action="ShowBuyer">
                        <button type="submit" class="btn btn-success">Покупці</button>
                    </a>
                </th>
   
            </tr>
        </thead>
    </table>
   <p><h2>Замовленя</h2></p>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата продажи</th>
                <th scope="col">Товар</th>
                <th scope="col">Артикул</th>
                <th scope="col">Ціна</th>
                <th scope="col">Ім'я Покупця</th>
                <th scope="col">Прізвище Покупця</th>
                <th scope="col">Email</th>
                <th scope="col">Телефон</th>
                <th scope="col">Адреса доставки</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <th>@order.Id</th>
                    <th>@order.Order.OrderTime</th>
                    <td>@order.Goods.NameGoods</td>
                    <td>@order.Goods.Article</td>
                    <td>@order.Goods.Price.ToString("c")</td>
                    <th>@order.Order.Name</th>
                    <th>@order.Order.SurName</th>
                    <th>@order.Order.Email</th>
                    <th>@order.Order.Phone</th>
                    <th><a asp-action="Admin" onclick=@($"return alert('{order.Order.Adress}')")>
                        Показати</a></th>
                    <th>
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Order" asp-action="DeleteOrder"
                                 asp-route-orderid="@order.Id"
                                 onclick=@($"return confirm('Ви дійсно хочете видалити{order.Id}: {order.Goods.Article}?')")>
                                    Видалити
                                </a>

                            }
                        }
                     
                    </th>
                  
                </tr>
            }
        </tbody>
    </table>
</div>
  
