@model List<Order>

@{
	ViewData["Title"] = "Show Buyers";
}
<p><h1>Каталог Покупців</h1></p>

<div class="text-center">
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Ім'я'</th>
                <th scope="col">Прізвище'</th>
                <th scope="col">Email</th>
                <th scope="col">Телефон</th>
                <th scope="col">Адреса</th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var buyer in Model)
            {
                <tr>
                    <th>@buyer.Id</th>
                    <td>@buyer.Name</td>
                    <td>@buyer.SurName</td>
                    <td>@buyer.Email</td>
                    <td>@buyer.Phone</td>
                    <td>@buyer.Adress</td>
                    <td>
                        	@if (User.Identity is { IsAuthenticated: true })
						{
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="DeleteBuyer"
                                asp-route-goodsid="@buyer.Id"
                              onclick=@($"return confirm('Ви дійсно хочете видалити{buyer.SurName}?')")>
                                    Видалити
                                </a>

                            }
                        }
                    </td>

                </tr>
            }
       
        </tbody>
    </table>
</div>
<table>
    <thead>
        <tr>
            <th>
                <a asp-controller="Admin" asp-action="ShowGoods">
                    <button class="btn btn-success">Товари</button>
                </a>
            </th>
            <th>
                <a asp-controller="Admin" asp-action="Admin">
                    <button type="submit" class="btn btn-success">Назад</button>
                </a>
            </th>

        </tr>
    </thead>
</table>
