@model List<Goods>

@{
	ViewData["Title"] = "Show Goods";

}
<p><h1>Каталог Товарів</h1></p>
<a asp-controller="Admin" asp-action="CreateGoods">
	<button class="btn btn-success">Додати товар</button>
</a>

<div class="text-center">
	<table class="table">

		<thead>
			<tr>
				<th scope="col">№</th>
				<th scope="col">Назва</th>
				<th scope="col">Артикул</th>
				<th scope="col">Ціна</th>
				<th scope="col">Наявність</th>
				<th scope="col">Опис</th>
				<th scope="col">Редагування</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var goods in Model)
			{
				<tr>
					<th>@goods.GoodsId</th>
					<td>@goods.NameGoods</td>
					<td>@goods.Article</td>
					<td>@goods.Price</td>
					<td>@if(goods.Available == true)
						{
							<div class="form-check">
                               <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
  
							</div>
						}
						else
						{
							<div class="form-check">
                             <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                            </div>
						}
					</td>
					<td><a asp-action="ShowGoods"  onclick=@($"return alert('{goods.Info}')")>Опис</a></td>
					<td>
						<a asp-controller="admin" asp-action="EditGoods"
					   asp-route-Id="@goods.GoodsId">
							Змінити
						</a>
						<a asp-controller="home" asp-action="cardgoods"
					   asp-route-Id="@goods.GoodsId">
							Переглянути
						</a>
						@if (User.Identity is { IsAuthenticated: true })
						{
							@if (User.IsInRole("Admin"))
							{
								<a asp-action="DeleteGoods"
					   asp-route-goodsid="@goods.GoodsId"
					   onclick=@($"return confirm('Ви дійсно хочете видалити{goods.NameGoods}: {goods.Article}?')")>
									Видалити
								</a>
							}
						
						}
					</td>

				</tr>
			}

		</tbody>
	</table>
</div>
<table>
	<thead>
		<tr>
			<th>
				<a asp-controller="Admin" asp-action="ShowBuyer">
					<button class="btn btn-success">Покупці</button>
				</a>
			</th>
			<th>
				<a asp-controller="Admin" asp-action="Admin">
					<button type="submit" class="btn btn-success">Назад</button>
				</a>
			</th>

		</tr>
	</thead>
</table>
